<footer>
  <div class="footer">
    <h4 class="heavy white">About Me</h4>
    <p>
      I have 7 years of experience in web and mobile technologies.
      I describe my work style as pragmatic, proactive, user focused, and thorough.
      My communication and organisational skills coupled with my experience with digital design and business skill make me a valuable contributor to a larger team.
      I value a positive environment, and collaboration.
    </p>
    <p>
      I hold a <span class="heavy">Masters of Entrepreneurship</span> from Otago University, and a <strong class="heavy">Bachelor of Design</strong> from Victoria University.
    </p>
  </div>
</footer>
