footer {
  background-color: #DDDDDD;
  position: relative;
  z-index: 2;
  box-shadow: 0 -10px 128px 117px #ddd;

  @include media-query-min($on-palm) {
    margin-top: 200px;
  }

  .footer {
    padding: 160px 0 360px;
    max-width: 600px;
    margin: 0 auto;
    @include media-query($on-palm) {
      padding: 50px 15px;
    }
  }
}
