html {
  body {
    background: #fff;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;

    > .wrapper {
      position: relative;
    }

    h1, h2, h3, h4, h5 {
      font-family: $heading-font-family;
    }
  }
}
