@include media-query-min($on-palm) {
  html,
  body {
    position: fixed;
    overflow: hidden;
  }
}

html {
  body {
    background: #fff;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background-color: #fafafa;
    text-rendering: optimizeLegibility; 

    > .wrapper {
      position: relative;
      padding-right: 0;
      padding-left: 0;
    }

    h1, h2, h3, h4, h5 {
      font-family: $heading-font-family;
    }

    .heavy { font-weight: 900; letter-spacing: 0.05rem;}
    .white { color: #fff; }
  }
}
