.particles {
  .near {
    .x {
      background-color: transparent;
      background-image: url('../assets/img/mid/big-x.svg');
      background-repeat: repeat;
    }
    .o {
      background-color: transparent;
      background-image: url('../assets/img/mid/big-x.svg');
      background-repeat: repeat;
    }
  }
  .far {
    .x {
      background-color: transparent;
      background-image: url('../assets/img/far/mid-x.svg');
      background-repeat: repeat;
    }
    .o {
      background-color: transparent;
      background-image: url('../assets/img/far/mid-x.svg');
      background-repeat: repeat;
    }
  }
}
