$card-color: #FFFF38;
$card-color-shadow-color: rgba(255,255,56,0.30);
$card-accent: #7B4288;

.ping {
  color: #7B4288;

  .fold {
    padding: 100px 0px;
    background-color: $card-color;
  }

  h1 {
    padding: 50px 0;
  }

  h4 {
    padding: 0 25px;
  }

  p.consistent {
    padding: 100px 50px;
    @include media-query-min($on-palm) {
      padding: 200px 25px;
    }
  }

  img {
    width: 100%;
  }

  .img {
    margin: 25px;

    &.responsive {
      max-width: 450px;
      margin: 50px 20px;

      @include media-query-min($on-palm) {
        padding: 250px 20px;
      }
    }

    &.consistent, &.logo-evolution, &.money-icon, &.safe {
      max-width: 520px;
    }

  }

  .sketch {
    height: 100px;
    width: 100%;
    max-width: 150px;
    background-color: #fff;
  }
}
