.xoxo {
  display: none;
  background-color: #fff;
  overflow-x: hidden;

  @include media-query-min($on-palm) {
    perspective: 1px;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .mid {
    background-image: url('../assets/img/parallax/mid.png');
    background-size: 917px 672px;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 1800px;
    width: 100%;
    transform: translateZ(-0.5px) scale(1.5);
    -webkit-transform: translateZ(-0.5px) scale(1.5);
    z-index: 0;
  }

  .far {
    background-image: url('../assets/img/parallax/far.png');
    background-size: 456px 335px;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    height: 1350px;
    transform: translateZ(-1px)  scale(2);
    -webkit-transform: translateZ(-1px) scale(2);
    z-index: 0;
  }
}
