.header-wrapper {
  position: relative;
  display: table;
  width: 100%;
  height: 800px;
  margin-bottom: 200px;

  .header {
    height: 800px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    display: table-cell;

    img {
      width: 130px;
      height: 130px;
      margin-bottom: 50px;
      border-radius: 50%;
    }

    h1 {
      color: #FF5757;
      font-size: 4em;
    }

    h2 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.5em;
    }
  }
}
