.cards {
  max-width: 720px;
  margin: 0 auto;
  font-family: $alt-font-family;
  z-index: 3;
  position: relative;

  .title {
    font-size: 0.95rem;
    text-transform: uppercase;
  }

  .card-break {
    clear: both;
    margin: -20px 0;
  }

  .index-card-wrapper {
    position: relative;
    .index-card {
      padding: 100px 50px;
      max-width: 100%;
      .inner-box {
        border-left-width: 2px;
        border-left-style: solid;
        padding-left: 21px;
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 5px;
        font-family: $alt-font-family-cnd;
        text-transform: uppercase;
      }
    }
  }

  @include media-query($on-palm) {
    > * {
      width: 100%;
      max-width: 100%;
      float: none;
      margin-top: 0;

      .title {
        padding-left: 10px;
      }

      .index-card {
        .logo {
          width: auto;
          max-width: 73%;
          padding-bottom: 20px;
        }
      }
    }
  }
}
