$card-color: #F81CCF;
$card-accent: #fff;
$node-1: #D4E300;
$node-2: #F8931C;
$node-3: #C17E0E;
$node-4: #C721D3;

.mind-maps {
  float: left;
  margin: 50px 0;
  max-width: 52%;
  width: 374px;
  .title {
    color: $card-color;
    @include media-query($on-palm) {
      color: $card-accent;
    }
  }

  .index-card {
    background-color: $card-color;
    > * {
      display: inline-block;
    }
    .node {
      color: #fff;
      display: inline-block;
      padding: 10px 10px 10px 38px;
      border-radius: 50px;
      position: relative;
      margin: 5px;
      min-width: 105px;
      font-size: 1.1rem;
      &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        background-image: url('../assets/img/cube.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding: 12px;
      }
      &.node-one {
        background-color: $node-1;
      }
      &.node-two {
        background-color: $node-2;
      }
      &.node-three {
        background-color: $node-3;
      }
      &.node-four {
        background-color: $node-4;
      }
    }
    .inner-box {
      margin-top: 50px;
      border-left-color: $card-accent;
      color: $card-accent;
    }
  }
}
