$card-color: #FFFF38;
$card-accent: #7B4288;
.ping {
  float: right;
  max-width: 76%;
  width: 546px;
  z-index: 2;
  position: relative;
  .title {
    color: $card-color;
    @include media-query($on-palm) {
      color: $card-accent;
    }
  }
  .index-card {
    a { color: $card-accent; }
    background-color: $card-color;
    > * {
      display: inline-block;
    }
    .inner-box {
      border-left-color: $card-accent;
      color: $card-accent;
      width: 50%;
    }
    .logo {
      text-align: right;
      padding: 35px 25px;
      vertical-align: top;
      width: 40%;
      img {
        max-width: 121px;
        width: 100%;
      }
    }
  }
}
