$card-color: #F57523;
$card-accent: #fff;
.safety-culture {
  float: left;
  max-width: 76%;
  width: 494px;
  z-index: 1;
  position: relative;

  @include media-query-min($on-palm) {
    margin: 50px 0 100px;
  }

  .title {
    color: $card-color;
    @include media-query($on-palm) {
      color: $card-accent;
    }
  }
  .index-card {
    a { color: $card-accent; }
    background-color: $card-color;
    > * {
      display: inline-block;
    }
    .inner-box {
      border-left-color: $card-accent;
      color: $card-accent;
      width: 49%;
    }
    .logo {
      vertical-align: top;
      width: 49%;
      img {
        height:185px;
        margin-top: -15px;
      }
    }
  }
}
