$card-color: #66DAE7;
$card-accent: #fff;
.teach {
  z-index: 2;
  position: relative;
  .title {
    color: $card-color;
    @include media-query($on-palm) {
      color: $card-accent;
    }
  }
  .index-card {
    a { color: $card-accent; }
    background-color: $card-color;
    > * {
      display: inline-block;
    }
    .inner-box {
      border-left-color: $card-accent;
      color: $card-accent;
    }
  }
}
