<div class="index-card-wrapper" style="background: #fff; box-shadow: 0px 0px 20px 0 #f0f0f0">
  <div class="index-card">
    <h4 class="heavy">About Me</h4>
    <p>
      I'm a UX Designer at Trade Me, the biggest website in New Zealand. 
    </p>
    <p>
      I have a Masters of Entreprenurship from Otago, and a Bachelor of Design from Victoria focusing on Architecture, so naturally I've spent the last 7 years building products for mobile and web. 
    </p>
    <p>
      I'm pretty good at digital design and building products. I've spun up and killed more startups than I care to admit. And now I'm learning all I can in the corporate world. 
    </p>
    <p>
      If I had to describe my work – and I do since this is my portfolio – I'd say I'm honest, easy to work with, proactive, and focused on users. My communication and organisation skills are top notch, when they need to be, albeit a bit casual at times. I grew up in New Zealand after all. <br />
      I am most comfortable as a contributor to a larger team with shared vision. I know when to put the extra efford in to get the outcomes we need.
    </p>
    <p>
      Examples of my work are below, and thanks for taking the time to see my work so far.
    </p>
  </div>
</div>
