<div class="index-card-wrapper" style="background: #fff; box-shadow: 0px 0px 20px 0 #f0f0f0">
  <div class="index-card">
    <h4 class="heavy">About Me</h4>
    <p>
      I'm a Designer at Trade Me, the unofficial website of New Zealand.
    </p>
    <p>
      With a Masters degree in business, and a Design Bachelor focusing on Architecture, it doesn't really make a whole lot of sense that I've spent the last 7 years building products for mobile and web.
    </p>
    <p>
      Nevertheless, I'm pretty good at digital design and building products. I've spun up and killed more startups than I care to admit, and the one I did managed to sell basically scared me off owning a business. And here you find me in a corporate.
    </p>
    <p>
      If I had to describe my work, and I do since this is my portfolio, I'd say I'm honest, easy to work with, proactive, and focused on users. My communication and organisation skills are top notch, albeit a bit casual at times.
      I like to think of myself as an important contributor to a larger team with shared vision; I thrive in a positive environment. I also know when to put the extra efford in to get the outcomes we need.
    </p>
    <p>
      Look out below for examples of my work, and thanks for taking the time to learn more about yours truely.
    </p>
  </div>
</div>
