<div class="index-card-wrapper">
  <div class="index-card borderless">
    <h4 class="heavy">About Me</h4>
    <p>
      I'm a UX Designer at Trade Me, the busiest website in New Zealand.
    </p>
    <p>
      I have a Masters of Entreprenurship from Otago, and a Bachelor of Design from Victoria focusing on Architecture, so naturally I've spent the last 7 years building products for mobile and web.
    </p>
    <p>
      My focus is digital design and building products. I've spun up and killed more startups than I care to admit. Now I'm learning all I can in the corporate world.
    </p>
    <p>
      If I had to describe my work – and I do since this is my portfolio – I'd say I'm optimistic, easy to work with, proactive, and focused on users. My communication and organisation skills are top notch. I am most comfortable as a contributor to a larger team with shared vision. I know when to put the extra efford in to get the outcomes we need.
    </p>
    <p>
      Examples of my work are below, and thanks for taking the time to see my work so far.
    </p>
  </div>
</div>
