<div class="index-card-wrapper ping">
  <div class="title">Project</div>
  <div class="index-card">
    <div class="logo">
      <img src="assets/img/ping.png" />
    </div>
    <div class="inner-box">
      Payments  <br />
      should be <br />
      invisible
    </div>
    <br />
    <br />
    <br />
    <p>
      Ping lets Trade Me members build up a stored balance when they sell things, which they can use it to pay for items on the site. Members can pay directly from their bank account, which is new in the NZ market.
    </p>
    <a class="see-more" href="ping.html">Read more</a>
  </div>
</div>
