<div class="index-card-wrapper risk-culture">
  <div class="title">Project</div>
  <div class="index-card">
    <div class="logo">
      <img src="assets/img/risk_culture.png" />
    </div>
    <div class="inner-box">
      Measure and <br />
      manage risk  <br />
      culture
    </div>
    <br />
    <br />
    <br />
    <p>
      Orange Umbrella run a programme for measuring and managing risk culture in the workplace. It uses a survey to measure leading risk indicators and then runs an in person, facilitated workshop to generate action plans to manage these risk causing behaviours and attitudes.
    </p>
    <a class="see-more" href="orange-umbrella.html">Read more</a>
  </div>
</div>
